.header {
    margin-bottom: 2rem;
    color: var(--text);
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.header li {
    margin-right: 0.5rem;
}

.header h1 {
    margin-bottom: 0;
}
