@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-srif;
}

a {
    color: #8510D1;
    text-decoration: none;
}

.charts {
    display: flex;
    justify-content: space-around;
}