@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body.light {
    --bg: #ffffff;
    --bg-variant: #d2d7df;
    --text: #282c35;
    --primary: #7d53de;
    --secondary: #d81e5b;
    font-family: "Poppins", sans-srif;
    background-color: var(--bg);
    margin: 0 auto;
    color: var(--text);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body.dark {
    --bg: #282c35;
    --bg-variant: rgba(210, 215, 223, 0.301);
    --text: #ffffff;
    --primary: #7d53de;
    --secondary: #d81e5b;
    font-family: "Poppins", sans-srif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

canvas {
    z-index: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
    outline: none;
}

// Loader Styles
.loader.available{
    opacity:0
}
.loader{
    background-color:var(--bg);
    opacity:1;
    pointer-events:none;
    -webkit-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
    -moz-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
    transition:opacity cubic-bezier(.4,0,.2,1) 436ms;
    z-index:9999
}

.loader-head{
    background-color:var(--bg-variant);
}
.loader .first-indicator,.loader .second-indicator{
    background-color:var(--primary);
    bottom:0;
    left:0;
    right:0;
    top:0;
    position:absolute;
    -webkit-transform-origin:left center;
    -moz-transform-origin:left center;
    transform-origin:left center;
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    transform:scaleX(0)
}
.loader .first-indicator{
    -webkit-animation:first-indicator 2s linear infinite;
    -moz-animation:first-indicator 2s linear infinite;
    animation:first-indicator 2s linear infinite
}
.loader .second-indicator{
    -webkit-animation:second-indicator 2s linear infinite;
    -moz-animation:second-indicator 2s linear infinite;
    animation:second-indicator 2s linear infinite
}

@-webkit-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-moz-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@keyframes first-indicator{
    0%{
        transform:translate(0) scaleX(0)
    }
    25%{
        transform:translate(0) scaleX(.5)
    }
    50%{
        transform:translate(25%) scaleX(.75)
    }
    75%{
        transform:translate(100%) scaleX(0)
    }
    100%{
        transform:translate(100%) scaleX(0)
    }
}
@keyframes second-indicator{
    0%{
        transform:translate(0) scaleX(0)
    }
    60%{
        transform:translate(0) scaleX(0)
    }
    80%{
        transform:translate(0) scaleX(.6)
    }
    100%{
        transform:translate(100%) scaleX(.1)
    }
}