.header {
    margin-bottom: 1rem;
    color: var(--text);
}

.header ul {
    margin: 0;
    padding: 0.2rem;
    display: flex;
    list-style: none;
}

.header li {
    margin-right: 0.5rem;
}

.header h1 {
    margin-bottom: 0;
}

.time-to-read-icon {
    margin-left: 0.4rem;
}
