header {
    top: 0;
    left: 0;
    z-index: 14000;
    position: relative;
    background-color: var(--bg);
    width: 100vw;
}

.nav {
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    h1 {
        margin: 0px;
    }
}

.typer {
    display: flex;
    align-items: center;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.list-item {
    margin-left: 2rem;
    transition: color 0.5s ease 0s;
}

.list-item-link {
    text-decoration: none;
    color: var(--text);
}

.list-item-link:hover {
    color: var(--primary);
}

.active-list-item {
    color: var(--primary);
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 45px;
        margin-right: 0.5rem;
        border-radius: 50%;
        border: 8px solid transparent;
    }
}

.role {
    color: var(--bg);
    padding: 0.5rem;
    background-color: var(--text);
    border-radius: 5rem;
}

.bulbButton {
    cursor: pointer;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

@media (max-width: 576px) {
    .nav {
        flex-direction: column;
    }
}

@media (max-width: 860px) {
    .profile-card {
        margin-right: 4rem;
    }
}
