.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    padding: 0.5rem;
}

.list-item {
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
    transition: color 0.5s ease 0s;
}

.list-item:hover {
   // color: #d80668;
   color: #7706D8;
}

.active-list-item {
    color: #7706D8;
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.profile-card img{
    width: 80px;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 8px solid transparent;
}

.role {
    color: white;
    padding: 0.5rem;
    background-color: #282a36;
    border-radius: 5rem;
}

@media (max-width:576px)
{
    .nav {
        flex-direction: column;
    }
}

@media (max-width:860px)
{
    .profile-card {
        margin-right: 4rem;
    }
}