
.container {
    img {
        width: 50%;
        height: 50%;
    }
    text-align: center;
    display: block;
    margin-top: 2rem;
    
}
.typer {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

@media (max-width: 576px) {
    .container {
        img {
            width: 80%;
            height: 80%;
        }
    }
}
