

.link {
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
    max-width: 100%;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.25);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 0 0.3rem 0;
    margin: 1.2rem 0 1.2rem;
    padding: 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    min-width: 90%;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--text);
    transition: all 0.5s ease-in-out 0s;
  }

.card:hover {
    box-shadow: 0 4px 9px rgba(0,0,0,0.12), 0 4px 9px rgba(0,0,0,.25);
   border-color: var(--primary);
   * {
    color: var(--primary);
    transition: all 0.5s ease-in-out 0s;
   }

   .tag {
       background-color: var(--primary);
       color: var(--bg);
   }

}

.card-item {
    color: var(--text);
    padding: 0 1rem 0;
    transition: all 0.5s ease-in-out 0s;

    h2 {
        margin: 0px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0 0 0.2rem;
    }

    li {
        margin-right: 0.5rem;
    }
}

.icon {
    transition: all 0.5s ease-in-out 0s;
    color: var(--text);
}
.tag-container{
    margin-top: 2rem;
}

.tag{
    background-color: var(--bg-variant);
    color: var(--text);
    border-radius: 0.5rem;
    margin-right: 0.5rem ;
    padding: 0.1rem 0.3rem;
}

